<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	  <connectionStrings>
		<add name="PortalConnection" connectionString="Data Source=;Initial Catalog=PortalDB;Integrated Security=false;User ID=SvcMaps;Password="/>
        <add name="PTMapConnection" connectionString="Data Source=.;Initial Catalog=PTMap;Integrated Security=SSPI;"/>
  </connectionStrings>
</configuration>